<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.kh.myapp.member.dao.MemberDAO"> -->
<mapper namespace="login">
	<select id="getMember" resultType="MemberVO"
		parameterType="LoginVO">
		select * from member where id = #{id} and passwd = #{passwd} 
	</select>
	
	<select id="selectUser" resultType="MAP">
		SELECT 
				ID as username,
		    PASSWD as password
		FROM member
		WHERE id = #{username} 
	</select>	
		
</mapper>    
