<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J"/>
  </settings>
  <typeAliases>
  	<typeAlias alias="MemberVO" type="com.kh.myapp.member.vo.MemberVO" />
  	<typeAlias alias="LoginVO" type="com.kh.myapp.login.vo.LoginVO" />
  	<typeAlias alias="BbsDTO" type="com.kh.myapp.bbs.dto.BbsDTO" />
  	<typeAlias alias="RbbsDTO" type="com.kh.myapp.bbs.dto.RbbsDTO" />
  </typeAliases>
</configuration>  